body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	background-color: #00ecf7;
}
.nav {
	margin:0;
	padding:0;
	background-color: #00385e;
	list-style: none;
	text-align: left;
}
.profileContent p {
	color:#00385e;
	margin:0;
	text-align: center;
}
h4 {
	color:#00edf8;
	text-align: center;
	margin: 20px 0 0 0;
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: #00edf8;
	padding: 10px 0 20px 50px;
}
a:hover {
	text-decoration: none;
	color: black;
	padding: 10px 0 20px 50px;
}
h1 {
	color: #00edf8;
	margin:0;
	padding: 10px 0 20px 25px;
}
h2 {
	color: #00385e;
}
img {
	margin:0;
	padding:0;
	vertical-align: middle;
	color: #00385e;
}
h3 {
	margin:0;
	padding: 30px 30px 30px 105px;
	font-size: 250%;
	font-family: 'Raleway', sans-serif;
	color: #00385e;
}
.Media {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 250px;
}
.top {
	background: url(Background.jpg) center top;
	background-size: cover;
	height:100vh;
	margin:0;
	padding:0;
}
.bottom {
	min-height:100vh;
	margin:0;
	padding:0;
	background-color: #719fad;
}
.profile {
	max-width: 1400px;
	margin:0;
	padding:0;
	margin: auto;
	overflow: hidden
	background-color: white;
}
.profileContent {
	width: 30%;
	float: left;
}
.footer {
	position:fixed;
    bottom: 0px;
	left: 20px;
}
.profileContent2 {
	width: 75%
	float: right;
	background-color: blue;
}
.text {
	float: right;
	width: 60%;
	
}
.text p {
	padding: 0 0 0 30px;
	color:#00385e;
}
.text h1 {
	padding: 60px 0 0 25px;
}