body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}
.nav {
	margin:0;
	padding:0;
	background-color: rgba(0, 0, 0, 0.6);
	list-style: none;
	text-align: left;
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: white;
	padding: 10px 0 20px 50px;
}
a:hover {
	text-decoration: none;
	color: #c1c1c1;
	padding: 10px 0 20px 50px;
}
h1 {
	color: white;
	margin:0;
	padding: 10px 0 20px 25px;
}
img {
	margin:0;
	padding:0;
	vertical-align: middle;
}
h3 {
	margin:0;
	padding: 30px 30px 30px 105px;
	font-size: 250%;
	font-family: 'Raleway', sans-serif;
	color: white;
}
sub > sub > a{
	color:black;
}
sub > sub > a:hover{
	color:black;
}
.Media {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 250px;
}
.top {
	background: url(Background.jpg) center top;
	background-size: cover;
	height:100vh;
	margin:0;
	padding:0;
}
.bottom {
	height:100vh;
	margin:0;
	padding:0;
	background-color: #719fad;
}
.black {
	color: black;
}
.profile {
	max-width: 1400px;
	margin:0;
	padding:0;
	margin: auto;
}
.profileContent {
	
}
.bot {
	margin:0;
	padding:0;
    width: 100%;
	background-color: white;
	text-align: middle;
}