body {
	background-color: #849599;
	image-rendering: pixelated;
	margin:0px;
	padding:0px;
	font-family: 'CodersCrux', Fallback, sans-serif;
}
li {
	display: inline-block;
}
ul {
	margin:0px;
	padding:0px
}

.icon {
	background-size: 100% 100%;
	position:fixed;
	width:126px; 
	height:120px;
	user-select: none;
}
.icon:hover {
	background-color: #98dae8;
}

.CloseWindow {
	background-size: 100% 100%;
	position:absolute;
	top:6px;
	right:15px;
	width:21px; 
	height:21px;
}
.CloseWindow:hover {
	background-image: url('UITextures/CloseWindowHover.png');
}

.StartMenuItems {
	background-size:100% 100%; 
	position:absolute; 
	left:21px; 
	height:54px; 
	width:228px;
}
.StartMenuItems:hover {
	background-color: #98dae8;
}

#WorksContent {
	overflow: auto;
	position:fixed;
	background-size:100% 100%;
	background-color: #ffffff;
	right:calc(318px + 10vh);
	left:calc(42px + 10vh);
	bottom:calc(72px + 10vh);
	top:calc(108px + 10vh);
}



#Lemon {
	background-image: url('UITextures/LemonSpin.png');
	background-size: 100% 100%;
	position:fixed;
	right:12%;
	bottom:70px;
	width:393px; 
	height:291px;
}

#About1 {
	background-image: url('UITextures/LemonSpin.png');
	background-size: 100% 100%;
	position:fixed;
	left:20%;
	top:70px;
	width:800px; 
	height:548px;
}



#Works {
	background-color: #2e2e33;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:54px;
}

.WorksTop {
	background-image: url('UITextures/WorksTop.png');
	background-size: contain;
	position:fixed; 
	top:0px; 
	width:100%; 
	height:108px;
}

.WorksBottom {
	background-image: url('UITextures/WorksBottom.png');
	background-size: contain;
	position:fixed; 
	bottom:54px; 
	width:100%; 
	height:18px;
}

.WorksLeft {
	background-image: url('UITextures/WorksLeft.png');
	background-size: contain;
	position:fixed; 
	left:0px; 
	height:100%; 
	width:42px;
}

.WorksRight {
	background-image: url('UITextures/WorksRight.png');
	background-size: contain;
	position:fixed; 
	right:0px; 
	top:363px;
	height:100%; 
	width:318px;
}

.WorksTopLeft {
	background-image: url('UITextures/WorksTopLeft.png');
	background-size: 100% 100%;
	position:fixed;
	top:0px;
	left:0px;
	width:396px; 
	height:108px;
}

.WorksTopRight {
	background-image: url('UITextures/WorksTopRight.png');
	background-size: 100% 100%;
	position:fixed;
	top:0px;
	right:0px;
	width:318px; 
	height:363px;
}

.WorksLeftTools {
	background-image: url('UITextures/WorksLeftTools.png');
	background-size: 100% 100%;
	position:fixed;
	top:69px;
	left:0px;
	width:33px; 
	height:456px;
}

.WorksBottomRight {
	background-image: url('UITextures/WorksBottomRight.png');
	background-size: 100% 100%;
	position:fixed;
	bottom:0px;
	right:0px;
	width:318px; 
	height:330px;
}

#bottomBar{
	background-image: url('UITextures/bottomBar.png');
	background-size: contain;
	position:fixed; 
	bottom:0px; 
	width:100%; 
	height:54px;
}
.bottomBarRight{
	background-image: url('UITextures/bottomBarRight.gif');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px; 
	right:0px; 
	height:54px; 
	width:183px
}

#bottomBarLeft {
	background-image: url('UITextures/bottomBarLeft.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px; 
	left:0px;
	height:54px; 
	width:132px;
}

#bottomBarAbout {
	background-image: url('UITextures/bottomBarAboutHover.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:132px;
	height:54px; 
	width:198px;
}

#bottomBarWorks {
	background-image: url('UITextures/bottomBarWorksHover.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:330px;
	height:54px; 
	width:198px;
}

#bottomBarLemon {
	background-image: url('UITextures/bottomBarLemonHover.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:528px;
	height:54px; 
	width:198px;
}

#StartMenu {
	background-image: url('UITextures/StartMenu.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:39px;
	left:6px;
	height:450px; 
	width:252px;
}

#StartScreen {
	background-size: 100% 100%;
	top:0px;
	left:0px;
	width: 100%;
    height: 100%;
	position: fixed;
	background-color: #849599;
}