body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}
.nav {
	margin:0;
	padding:0;
	background-color: grey;
	list-style: none;
	text-align: left;
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: white;
	padding: 10px 0 20px 50px;
}
a:hover {
	text-decoration: none;
	color: #c1c1c1;
	padding: 10px 0 20px 50px;
}
h1 {
	color: white;
	margin:0;
	padding: 10px 0 20px 25px;
}
img {
	margin:0;
	padding:0;
	vertical-align: middle;
}
.Media {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 250px;
}
.top {
	background: url(Background.jpg) center top;
	background-size: cover;
	height:100vh;
}
.bottom {
	height:100vh;
}
.black {
	color: black;
}