body {
	background-color: #849599;
	image-rendering: pixelated;
	margin:0px;
	padding:0px;
}
li {
	display: inline-block;
}

#Lemon {
	background-image: url('UITextures/LemonSpin.png');
	background-size: 100% 100%;
	position:absolute;
	right:12%;
	bottom:70px;
	width:393px; 
	height:291px;
}

#bottomBar{
	background-image: url('UITextures/bottomBar.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px; 
	width:100%; 
	height:54px;
}
#bottomBarRight{
	background-image: url('UITextures/bottomBarRight.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px; 
	right:0px; 
	height:54px; 
	width:141px
}

#bottomBarLeft {
	background-image: url('UITextures/bottomBarLeft.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px; 
	left:0px;
	height:54px; 
	width:132px;
}
#bottomBarLeft:hover {
	background-image: url('UITextures/bottomBarLeftHover.png');
}

#bottomBarAbout {
	background-image: url('UITextures/bottomBarAbout.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:132px;
	height:54px; 
	width:198px;
}
#bottomBarAbout:active {
	background-image: url('UITextures/bottomBarAboutHover.png');
}
#bottomBarAboutSelected {
	background-image: url('UITextures/bottomBarAboutHover.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:132px;
	height:54px; 
	width:198px;
}

#bottomBarWorks {
	background-image: url('UITextures/bottomBarWorks.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:330px;
	height:54px; 
	width:198px;
}
#bottomBarWorks:active {
	background-image: url('UITextures/bottomBarWorksHover.png');
}
#bottomBarWorksSelected {
	background-image: url('UITextures/bottomBarWorksHover.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:330px;
	height:54px; 
	width:198px;
}

#bottomBarLemon {
	background-image: url('UITextures/bottomBarLemon.png');
	background-size: 100% 100%;
	position:fixed; 
	bottom:0px;
	left:528px;
	height:54px; 
	width:198px;
}
#bottomBarLemon:active {
	background-image: url('UITextures/bottomBarLemonHover.png');
}